/*
   Curso - Design Responsive
   Author: Carlos Mendes Pereira
   Prof: Rodrigo Santos
   Canal-Youtube: Node Studio Treinamentos

*/
/* import BASE*/
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  background: #f5f5f5; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

.l-cabecalho {
  width: 100%;
  float: left;
  padding: 3% 4%; }
  .l-cabecalho .l-logo {
    width: 56px;
    height: 56px;
    float: left;
    background: url(../img/logo-mobile.png) center center/56px no-repeat;
    font-size: 0; }

.l-banner-header {
  width: 100%;
  float: right;
  text-align: center;
  padding: 3% 4%;
  background: url(../img/bg.jpg) no-repeat fixed; }
  .l-banner-header h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: #FFF; }
  .l-banner-header h3 {
    font-size: 1.5em;
    color: #FFF; }

.l-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  display: none; }
  .l-menu ul {
    width: 100%;
    text-align: center;
    float: left; }
    .l-menu ul li {
      padding: 2%; }
      .l-menu ul li a {
        font-size: 2em;
        color: #fff;
        padding: 2% 3%; }
        .l-menu ul li a:hover {
          border: 1px solid #da6709; }

.m-btn-menu {
  width: 56px;
  height: 56px;
  float: right;
  text-align: center;
  color: #FFF;
  border-radius: 56px;
  cursor: pointer;
  background: linear-gradient(to right, #ce2e3c, #da6709); }

.m-btn-close {
  font-size: 2em;
  color: orange;
  float: right;
  cursor: pointer;
  margin: 5% 9% 0 0; }

.m-btn-section {
  width: 100%;
  padding-top: 5%; }
  .m-btn-section button {
    width: 100%;
    margin-bottom: 2%;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    padding: 5%; }
    .m-btn-section button i {
      float: right; }
  .m-btn-section .m-btn-cadastrar {
    background: #212121;
    color: #FFF; }

/* @import "layout";*/
/* @import "modules";*/
