/*
   Curso - Design Responsive
   Author: Carlos Mendes Pereira
   Prof: Rodrigo Santos
   Canal-Youtube: Node Studio Treinamentos

*/
/* import BASE*/
@import "base/base";
@import "base/variables";
@import "layouts/header";

/* @import "layout";*/
@import "layouts/nav";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/responsive";

/* @import "modules";*/
@import "modules/blocks";
@import "modules/buttons";
@import "modules/sections";
@import "modules/typography";



