/*
   Curso - Design Responsive
   Author: Carlos Mendes Pereira
   Prof: Rodrigo Santos
   Canal-Youtube: Node Studio Treinamentos

*/
/* import BASE*/
@import "base/base";
/* @import "layout";*/
/* @import "modules";*/


h1{
  dorder-radeius: 14;
  color: yellow;
  font-size: 18px;
}
body{
  background: #EEE;
}
