@import "base/variables";
// modulo button section
.m-btn-menu{
	width: 56px; 
	height: 56px;
	float: right;
	text-align: center;
	color: #FFF;
	border-radius: 56px;
	cursor: pointer;
	background: linear-gradient(to right, $cor-logo-1, $cor-logo-2);
}
.m-btn-close{
	font-size: 3em;
	color: #FFF;
	float: right;
	cursor: pointer;
	margin-right: 7%;
}

.m-btn-section{
	width: 100%;
	padding-top: 5%;

	button{
		width: 100%;
		margin-bottom: 2%;
		border-radius: 5px;
		font-size: 1.5em;
		cursor: pointer;
		text-align: center;
		padding: 5%;
		i{
			float: right;
		}
	}
	.m-btn-cadastrar{
		background: #ff3d00 ;
		color: #FFF;
	}
}